.collection-details {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.collection-details .container {
  margin: 40px auto;
  width: min(800px, 100%);
}
.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
.header svg {
  cursor: pointer;
}
.header .navigate-back {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 15px;
  background: #21212b;
}
.header .menu {
  margin-left: auto;
}
.add-task {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 25px;
}
.add-task svg {
  width: 30px;
  height: 30px;
  padding: 3px;
  color: #15151c;
  border-radius: 10px;
}
