.dashboard {
  height: 100%;
  overflow-y: auto;
}
.dashboard .container {
  margin: 30px auto;
  width: min(800px, 100%);
  display: flex;
  flex-direction: column;
}
.dashboard .content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard .container .content .task {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: start;
  background: #21212b;
  padding: 15px;
}

.dashboard .container .header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.dashboard .container .menu-icon {
  margin-left: auto;
}
.dashboard .container .buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.dashboard .container .buttons button {
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid #414052;
  border-radius: 15px;
  color: #fff;
}
.dashboard .container .buttons .active {
  padding: 12px 20px;
  background-color: #414052;
}
.dashboard .head {
  background: #272732;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.dashboard .head.hide {
  border-radius: 15px;
}
.dashboard .head > :first-child {
  display: flex;
  align-items: center;
  gap: 15px;
}
.dashboard .head svg {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 10px;
}
.dashboard .list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashboard .no-tasks {
  width: 100%;
  display: flex;
  padding: 15px;
  background: #21212b;
  align-items: center;
  justify-content: center;
}
.dashboard .content .go-to {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 15px;
  background: #21212b;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid #2f2e3b;
}

.statistics {
  margin-top: 40px;
  border-radius: 20px;
  padding: 15px;
  background: #21212b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.chartjs-render-monitor {
  border-radius: 25px;
}
